/app.py
/blank.png
/filled_form.jpg
/finder.py
/handwritten.png
/handwritten_pil.png
/output
/Page_1.jpg
/RESULT
/spglasiee.json
/template.json
/venv
/Все школы.xlsx
/Лист Microsoft Excel.xlsx
/Согласие_родителя_на_обработку_персональных1.docx
/Согласие_родителя_на_обработку_персональных1.pdf
/Согласие_фото_и_видео_согласовано_с_Москаленко_А_Н_2.docx